version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: loopcode
      POSTGRES_USER: loopcode
      POSTGRES_PASSWORD: changeme
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
